*.swp
*.swo

**/__pycache__
**/__cache__
**/__cache__

**/.DS_STORE
**/*.vec

venv
.ipynb_checkpoints/

credentials.txt

logs
*_creds.sh
creds.sh

mnt.tgz
mnt/output/*

mnt/*

mnt/ms/*
mnt/mwoz/*

exp

